<h3>Fundraisers</h3>

<label for="category">Category</label>
<select class="filter" (change) = onChangeCategory($event.target.value) name="category-fundraisers">
  <option value="allcategories" selected="selected">All Categories</option>
  <option value="medical">Medical</option>
  <option value="education">Education</option>
  <option value="business">Business</option>
  <option value="charity">Charity</option>
  <option value="animals">Animals</option>
</select>


<div *ngIf="(fundraisers | async | category: filterByCategory).length===0">
  <h3>Sorry, there are no fundraisers in that category at the moment.</h3>
</div>

<div *ngFor="let fundraiser of fundraisers | async | category: filterByCategory" class="panel panel-default">
  <div class="panel-body">
      <h3 (click) = "goToDetailPage(fundraiser)"><em>{{fundraiser.projectName}}</em>, Goal: ${{fundraiser.donationGoal}}</h3>
      <div *ngIf="currentRoute === '/admin'">
        <h4>Organizer Name: {{fundraiser.organiserName}}</h4>
        <h4>Category: {{fundraiser.category}}</h4>
        <h4>Donations Received: ${{fundraiser.donationReceived}}</h4>
        <h4>Accepting Donations? {{fundraiser.status}}</h4>
        <h4>Description:</h4>
        <p>{{fundraiser.description}}</p>
        <hr>
        <app-edit-fundraiser [selectedFundraiser]="fundraiser"></app-edit-fundraiser>
      </div>
  </div>
</div>
