<div *ngIf="fundraiserToDisplay">
  <h3>Category: {{fundraiserToDisplay.category}}</h3>
  <h3>Organizer Name: {{fundraiserToDisplay.organiserName}}</h3>
  <h3>Donation Goal: {{fundraiserToDisplay.donationGoal}}</h3>
  <h3>Project Name: {{fundraiserToDisplay.projectName}}</h3>
  <h3>Project Description: {{fundraiserToDisplay.description}}</h3>
  <h3>Donations Received: {{fundraiserToDisplay.donationReceived}}</h3>
  <h3>Receiving Donations: {{fundraiserToDisplay.status}}</h3>

  <!-- <h3>ID: {{(fundraiserToDisplay.$key}}</h3> -->

  <button class="btn btn-lg" (click)="donationForm()">Donate</button>


  <div *ngIf="showDonationForm" class="panel panel-default">
    <div class="panel-heading">
      <h3>Donation Form</h3>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <label for="name">Your name or organization:</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" #name>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="donationAmount">Donation amount: $</label>
        </div>
        <div class="col-md-8">
          <input type="number" class="form-control" #donationAmount>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="message">Special message:</label>
        </div>
        <div class="col-md-8">
          <input type="number" class="form-control" #message>
        </div>
      </div>
      <button class="btn btn-default" type="button" (click)="submitDonation(donationAmount.value);donationAmount.value=''">Donate</button>
    </div>
  </div>
