body {
  /*background-image: url('../resources/images/image-kid.jpeg');*/
  background-repeat: no-repeat;
  background-position: top;
  background-size: 105vh;
}

img {
    text-align: center;
    width: 90%;
}

#kid-photo {
  text-align: center;
}

.well {
  margin-top: 2%;
  background-color: white;
}
