<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Album to Inventory</h3>
  </div>
  <div class="panel-body">
    <label for="category">Category</label>
    <select class="category-fundraisers" name="category-fundraisers">
      <option value="allcategories">All Categories</option>
      <option value="medical">Medical</option>
      <option value="education">Education</option>
      <option value="business">Business</option>
      <option value="charity">Charity</option>
      <option value="animals">Animals</option>
    </select>
  </div>
</div>
